.input-container {
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
  margin-top: var(--space-5);
}

.input-container label:first-of-type {
  font-weight: var(--font-weight-extrabold);
  font-size: 16px;
  line-height: var(--line-height-normal);
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

@media (min-width: 481px) {
  .input-container {
    gap: var(--space-4);
  }

  .input-container label:first-of-type {
    font-size: 20px;
    line-height: 120%;
  }
}
